<div class="container-fluid">
  <div class="row">
    <nav class="col-lg-2 bg-dark sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Points list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add points</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-lg-10 ml-lg-auto pt-3">



      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus vehicula ligula, ut sollicitudin est sagittis nec. Quisque egestas, purus vitae tristique porta, mauris mi dignissim ipsum, at bibendum nulla massa eget lectus. Aliquam erat odio, imperdiet eu ligula sed, eleifend tincidunt tortor. Phasellus in dignissim quam, sit amet aliquet nunc. Ut et orci finibus, tristique sem bibendum, consequat tortor. Sed in commodo ex. Proin commodo tortor magna, ac varius ex semper vel. Vivamus vel lectus rutrum ex tempus blandit id sed est. Quisque eget placerat felis, fermentum pellentesque lacus. Aliquam eget cursus arcu, in imperdiet neque.

      Praesent finibus lacus odio, eu bibendum ante pellentesque et. Ut ante orci, faucibus mattis congue quis, consequat sit amet diam. Nam commodo, lacus non feugiat cursus, erat nisl pharetra sem, id imperdiet tortor lorem et urna. Quisque non egestas dolor, dictum elementum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ipsum lorem, maximus eget urna non, faucibus scelerisque felis. Nulla efficitur semper sem, vitae egestas tortor. Donec consequat ex ac ligula bibendum ornare. Curabitur et tempus sapien. Nullam dignissim, mauris non lobortis consectetur, felis quam eleifend turpis, ac malesuada urna quam vitae felis. Etiam ullamcorper mollis eros in dapibus. Donec fringilla egestas scelerisque.

      Suspendisse sit amet bibendum neque. Nullam vehicula, sapien sed euismod tempor, tellus sapien facilisis lectus, nec posuere lacus ipsum eu odio. Integer ac massa iaculis odio facilisis malesuada. Mauris nisl quam, faucibus ac egestas sed, pharetra quis lorem. Maecenas varius mauris sed nisl maximus, id finibus diam vehicula. Sed maximus nunc sit amet ante iaculis, eu auctor mi consequat. In hac habitasse platea dictumst. Duis urna ipsum, varius in sapien in, fermentum elementum justo. Duis blandit eros nec quam pharetra, id vestibulum lectus consectetur.

      Vivamus ornare enim in viverra tempor. Sed quis lacus a mauris consectetur ornare eget eget est. Duis vel rutrum nisl. Donec ut lectus iaculis, lacinia neque non, luctus velit. Nam ac fermentum eros. Aliquam et eros quam. Praesent dapibus ligula ac varius pulvinar.

      Vestibulum eleifend leo nulla, vel rutrum sem mollis et. Nunc ullamcorper massa eu luctus hendrerit. Donec non tortor nec lectus sodales viverra at dapibus tellus. Quisque quis viverra lectus. Sed hendrerit neque vestibulum felis ornare malesuada. Sed pulvinar nisi ligula, a suscipit lacus fermentum a. Proin finibus a tortor sit amet dignissim. Phasellus id porta est.
    </main>
  </div>
</div>
